// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.price-badge {
  background-color: #ffcc00; /* Background color of the badge */
  color: #000; /* Text color */
  padding: 5px 10px; /* Padding for the badge */
  border-radius: 5px; /* Rounded corners */
  width: auto; /* Allows the badge width to adjust based on content */
  display: inline-flex; /* Uses flexbox display */
  align-items: center; /* Vertically centers the text */
  justify-content: center; /* Horizontally centers the text */
}